<footer>
  <div class="footer">
    <div class="container-fluid">
      <div class="row footer-row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 text-sm-center">
          <img class="footer-img" src="/img/consurec-logo.png" alt="">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 footer-copy text-center" >2020©copyright</div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 footer-redes">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>