<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="login">
          <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 login-bg"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 login-container">
              <button type="button" class="close btn-close-login" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                <div class="row justify-content-center">
                  <div class="col-12 login-title">
                   <h2>INICIAR SESIÓN</h2>
                    <span>¿ No tienes una cuenta ? <a href="/registro">registrate</a></span>
                  </div>
                  <div class="col-12 login-content">
                    <form method="POST" action="/ingresar">
                      <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Correo eletrónico">
                      </div>
                      <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Contraseña">
                        <a href="#" class="form-text text-right">Olvidaste tu contraseña</a>
                      </div>
                      <button type="submit" class="btn btn-primary">INGRESAR</button>
                    </form>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>