<a href="/publicar" class="menu-publicar">Publicar</a>
<a href="/perfil" id="menu-toggle" class="menu-photo hvr-grow">
  <% if(locals.usuario.user.foto){ %> 
    <img src="<%- locals.usuario.user.foto %>"  alt="">
  <% }else{ %>
    <img src="/img/user-default.png"  alt="">
  <% } %> 
</a>
<!-- <a href="/cerrar-sesion" class="menu-cerrarSession">Cerrar Sesión</a> -->