<a href="/publicar" class="menu-publicar">Publicar</a>
<a href="#" data-toggle="modal" data-target="#ModalLogin" class="menu-ingresar">Ingresar</a>
<!-- <a href="#" class="menu-photo hvr-grow" id="menu-toggle">
    <img src="/img/user-default.png"  alt=""> 
</a> -->