<div class="bg-white border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <button class="btn" id="menu-btn-toggle"><i class="fas fa-long-arrow-alt-right"></i></button>
  </div>
  <div class="bg-light sidebar-header">
    <img src="/img/user-default.png"  alt=""> 
    <div class="sidebar-header__content">
      <h4 class="text-uppercase">Anonimo</h4>
    </div>
  </div>
  <div class="sidebar-list">
    <a href="/ingresar" class=""><i class="fas fa-tachometer-alt mr-3"></i> Iniciar Sesión</a>
    <a href="/registro" class=""><i class="fas fa-user-circle mr-3"></i> Registrarse</a>
  </div>
</div>