<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
  <div class="content-servicios">
    <div class="card shadow-sm ">
      <div class="servicios-destacados__header">
          <div class="servicios-destacados__codelike">
            <span>2020f1</span>
            <span><i class="far fa-heart"></i></span>
          </div>
        <img src="/img/gasfitero.jpg" class="card-img-top" alt="...">
      <a href="#" class="servicios-destacados__arrowright"><i class="fas fa-arrow-right"></i></a>
      </div>
      <div class="card-body servicios-destacados__body">
        <h5 class="card-title">Gasfitero</h5>
        <small>Juan Manuel Vargas</small>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="servicios-destacados__caracter">
          <span><i class="fas fa-map-marker-alt"></i> Lima</span>
          <span><i class="far fa-file"></i> 4 Años</span>
          <span>
            <i class="fas fa-star star--text"></i>
            <i class="fas fa-star star--text"></i>
            <i class="fas fa-star star--text"></i>
            <i class="fas fa-star star--text"></i>
            <i class="fas fa-star"></i>
          </span>
        </div>
      </div>
      <a href="#" class="btn servicios-destacados__btnphone"><i class="fas fa-phone-alt mr-2"></i> 994 545 334</a>
    </div>
  </div>
</div>

